@use '../../../styles/master' as *;

.container {
    .learnMore {
        color: $colorPrimary;
        text-decoration: none;
    }
    .content {
        width: rem-calc(1248);
        display: flex;
        flex-direction: row;

        .body {
            display: flex;
            flex-direction: column;
        }

        .vote {
            margin-inline-start: space(8);
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .container {
        .content {
            width: 100%;
            flex-wrap: wrap;
            .body {
                width: 100%;
            }

            .vote {
                @include margin(6, 0);
                width: 100%;
            }
        }
    }
}
