@use '../../../styles/master' as *;

.overview {
    width: 100%;
    @include margin(0);
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    .container {
        display: flex;
        flex-wrap: wrap;
        flex: 1;

        .header {
            width: 100%;
            margin-bottom: space(11);

            h6 {
                width: 100%;
                @include margin(8, 0, 0);
                @include padding(0, 0, 0, 95);
                text-align: center;
            }
        }

        .summary {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            @include padding(0, 20);
            align-content: flex-start;

            > * {
                @include margin(0, 0, 4);

                &:last-child {
                    @include margin(0);
                }
            }
        }

        .stats {
            display: flex;

            > div {
                &:first-of-type {
                    > div {
                        &:first-of-type {
                            display: none;
                        }
                    }
                }
            }
        }

        .buttonWrapper {
            margin-bottom: space(6);
            margin-top: space(6);
            margin-inline-end: space(-105);
            display: flex;
            width: rem-calc(1240);
            justify-content: center;
        }
    }

    .tooltip {
        position: absolute;
        top: rem-calc(4);
        right: rem-calc(8);
    }

    .positions {
        display: flex;
        width: rem-calc(330);
        @include padding(8, 10, 0, 10);
        flex: 0 0 330px;
        @include bgInTile;
        border-radius: 0 $borderRadiusXL $borderRadiusXL 0;
        flex-direction: column;
        box-sizing: unset;
        .title {
            width: 100%;
            text-align: center;
        }

        .subTitle {
            opacity: 1;
            margin-top: space(14);
            margin-bottom: space(6);
        }

        .positionContainer {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            align-items: flex-start;
            flex-direction: column;

            > * {
                @include margin(0, 0, 7);

                &:last-child {
                    @include margin(0);
                }
            }
        }

        .positionLoader {
            display: flex;
            height: 50%;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .overview {
        flex-wrap: wrap;
        position: relative;
        padding-bottom: rem-calc(60);

        .container {
            flex: 0 0 100%;

            .header {
                h6 {
                    @include padding(0, 3);
                }
            }

            .buttonWrapper {
                margin-inline-end: 0;
                width: 100%;
                position: absolute;
                @include padding(2.5, 0, 0);
                bottom: 0;
                left: 0;

                > * {
                    @include margin(0);
                }
            }
        }

        .positions {
            @include padding(8, 20);
            @include margin(8, 0, 0);
            width: 100%;
            flex: 0 0 100%;
            border-radius: 0;
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .overview {
        .container {
            max-width: 100%;

            .header {
                margin-bottom: space(6);
            }

            .summary {
                @include padding(0, 3);
            }
        }

        .stats {
            display: flex;
            flex-wrap: wrap;

            > div {
                @include margin(3, 0, 0);
                flex: 0 0 100%;
                width: 100%;

                > div {
                    &:first-of-type {
                        display: none;
                    }
                }
            }
        }

        .positions {
            @include padding(6, 3);

            .positionContainer {
                * {
                    max-width: rem-calc(258) !important;
                }
            }
        }
    }
}
