@use '../../../styles/master' as *;

.container {
    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: rem-calc(68);

        .tooltip {
            position: absolute;
            top: rem-calc(3);
            right: rem-calc(5);
        }
    }

    .footer {
        height: rem-calc(29);
    }

    .loading {
        @include padding(4, 0);
        display: flex;
        opacity: 0.5;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
    }

    .tutorial {
        display: block;
        text-align: center;
        @include typoS;
        color: $fontColorLightPrimary;

        a {
            color: $colorPrimary;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(970)) {
    .container {
        table {
            tr {
                th,
                td {
                    &:nth-child(5) {
                        display: none;
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(840)) {
    .container {
        table {
            tr {
                th,
                td {
                    &:nth-child(4) {
                        display: none;
                    }
                    &:nth-child(6) {
                        width: 20% !important;
                    }
                    &:nth-child(7) {
                        width: 30% !important;
                    }
                    &:nth-child(8) {
                        max-width: rem-calc(120) !important;
                        width: 15% !important;
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(840)) {
    .container {
        table {
            tr {
                th,
                td {
                    &:nth-child(1) {
                        display: none;
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(630)) {
    .container {
        table {
            tr {
                th,
                td {
                    &:nth-child(6) {
                        display: none;
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(490)) {
    .container {
        table {
            tr {
                th,
                td {
                    &:nth-child(3) {
                        display: none;
                    }
                    &:nth-child(8) {
                        padding: 0 space(2) 0 0 !important;
                    }
                }
            }
        }
    }
}
