@use '../../../styles/master' as *;

.notConnected {
    width: 100%;
    .unclaimedTerritoryWrapper {
        margin-top: space(12);
        display: flex;
        justify-content: center;
        max-width: 100%;
        // max-width: 910px;
        .unclaimedTerritory {
            @include margin(18, 16, 20, 16);
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                font-weight: $fontWeightSemibold;
                text-align: center;
                @include typoH2caps;
            }

            .subtitle {
                @include margin(2, 0, 6);
                @include typoXLcaps;
                text-align: center;
                opacity: 0.89;
            }

            .infoWrapper {
                margin-bottom: space(10);
                display: flex;
                flex-direction: column;
                align-items: center;
                .info {
                    text-align: center;
                    min-height: 0 !important;
                    color: $buttonBorder;
                }

                .infoLinksWrapper {
                    text-align: center;
                    color: $buttonBorder;
                    .infoLink {
                        color: $fontColorLightPrimary;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }

            .connectButton {
                display: flex;
                align-items: center;

                svg {
                    @include margin(-0.5, 2, 0, 0);
                    height: rem-calc(16);
                    width: auto;
                }

                span {
                    margin-top: space(0.25);
                }
            }
        }
    }

    .portforlioWrapper {
        margin-top: space(20);
        margin-bottom: space(15);
        @include shadowFade;

        .summary {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .tooltip {
                position: absolute;
                top: rem-calc(4);
                right: rem-calc(6);
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .notConnected {
        .unclaimedTerritoryWrapper {
            @include margin(0);

            .unclaimedTerritory {
                @include margin(6, 3);
            }
        }

        .portforlioWrapper {
            @include margin(12, 0, 6);
        }
    }
}
