@use '../../../../styles/master' as *;

.container {
    .upperContainer {
        display: flex;
        flex-direction: row;

        .dotWrapper {
            margin-top: space(3);

            .dot {
                position: absolute;
                width: rem-calc(4);
                height: rem-calc(4);
                background: $colorPrimary;
                margin-top: space(-1.5);
                border-radius: $borderRadiusRound;
                transition: left 2s;
            }

            .dotGlow {
                position: absolute;
                width: rem-calc(7);
                height: rem-calc(7);
                background: $colorPrimary;
                margin-top: space(-1.75);
                margin-inline-start: space(-0.5);
                border-radius: $borderRadiusRound;
                @include glowM;
                transition: left 2s;
            }
        }

        .title {
            margin-inline-start: space(3);
            opacity: 1;
        }

        .pointer {
            margin: space(1.25) auto;
            width: rem-calc(30);
            height: 1px;
            background: $fontColorLightPrimary;
            opacity: 0.4;
        }
    }

    .date {
        margin-inline-start: space(4);
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        .upperContainer {
            .pointer {
                display: none;
            }
        }
    }
}
