@use '../../../../styles/master' as *;

.container {
    display: flex;
    flex-direction: column;

    .infoContainer {
        display: flex;
        flex-direction: column;
        @include padding(10, 12);
        @include devider20;
    }

    .contentWrapper {
        max-height: rem-calc(80);
        overflow: hidden;
        display: block;
        margin-top: space(2);
        word-break: break-word;

        .content {
            opacity: 0.4;
        }

        .proposalMessages {
            margin-top: space(6);

            > div:first-child {
                border-top: 1px solid $alphaWhite40;
            }
            .inactive {
                opacity: 0.4;
            }
        }
    }

    .expand {
        max-height: rem-calc(1000);
    }

    .showDetailsBtn {
        @include margin(6, 0);
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .container {
        .infoContainer {
            @include padding(6, 3);
        }
    }
}
