@use '../../styles/master' as *;

.container {
    position: relative;
    @include margin(12.5, 25, 4);
    width: rem-calc(230);
    height: rem-calc(265);
    border: 1px solid $graphAxis;
    border-right: none;
    border-top: none;

    .scale {
        @include typoXXS;
        opacity: 0.6;
        line-height: rem-calc(12);
        position: absolute;
        width: rem-calc(95);
        text-align: end;
        left: rem-calc(-100);
        letter-spacing: rem-calc(2);

        &.maxY {
            top: 0;
        }

        &.minY {
            bottom: 0;
        }
    }

    .legend {
        @include typoXXScaps;
        opacity: 0.6;
        position: absolute;
        text-align: center;
        bottom: rem-calc(-20);

        &.position {
            left: rem-calc(6);
            width: rem-calc(120);
        }

        &.debt {
            right: rem-calc(-10);
            width: rem-calc(95);
        }
    }

    .bar {
        max-height: 100%;
        width: rem-calc(36);
        border-radius: $borderRadiusXS;
        position: absolute;
        bottom: 0;

        &.supply {
            left: rem-calc(30);
        }

        &.borrow {
            left: rem-calc(75);
        }

        &.debt {
            left: rem-calc(172);
            transition: height 1s ease-out;
        }

        .label {
            position: absolute;
            width: rem-calc(34);
            bottom: rem-calc(12);
            left: rem-calc(2);
            text-align: center;
            @include typoXXScaps;
            letter-spacing: 0;
        }
    }

    .liquidation {
        @include typoXXScaps;
        opacity: 0.6;
        position: absolute;
        width: rem-calc(105);
        margin-bottom: space(-3);
        text-align: end;
        left: rem-calc(-110);
        transition: bottom 1s ease-out;

        span {
            display: block;
            width: 100%;
            word-wrap: normal;
            word-break: normal;
        }
    }

    .liquidationLine {
        display: block;
        width: rem-calc(110);
        height: 1px;
        border-bottom: 2px dashed $graphLiquidationsLine;
        position: absolute;
        left: 0;
        transition: bottom 1s ease-out;
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        display: none;
    }
}
