@use '../../../../styles/master' as *;
.buttonRow {
    display: flex;
    @include padding(8, 0, 4);
    flex: 0 0 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .buttonWrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .actionButton {
        display: flex;
        justify-content: center;
        margin-bottom: space(3);
    }
}

.estimateFeeErrorWrapper {
    width: 100%;
    @include padding(8, 0, 0, 0);
    display: flex;
    justify-content: center;

    .estimateFeeError {
        width: 60%;
        text-align: center;
        display: inline;

        .estimateFeeErrorCopy {
            color: $colorInfoWarning;
        }
    }
}

.pnlDisclaimerWrapper {
    width: 100%;
    @include padding(0, 0, 8);
    display: flex;
    justify-content: center;

    .pnlDisclaimer {
        width: 60%;
        text-align: center;
        display: inline;

        .disclaimerCopy {
            display: inline;
            opacity: 0.4;
        }
        .red {
            display: inline;
            color: $colorInfoWarning;
        }

        .primary {
            display: inline;
            color: $colorPrimary;
        }
    }
}

.responseWrapper {
    max-width: rem-calc(768);
    width: 100%;
    margin: 0 auto;
}

.link {
    color: $colorPrimary;
    text-decoration: none;
}

.tippyContainer {
    @include layoutTooltip;
}
