@use '../../../../styles/master' as *;

.container {
    display: flex;
    padding-inline-start: rem-calc(32);
    flex-direction: row;
    margin-top: space(6);
    margin-bottom: space(6);

    .item {
        flex-grow: 1;
        padding-top: rem-calc(8);
        margin-inline-start: space(4);
        border-right: 1px solid $alphaWhite20;

        .buttons {
            display: flex;
            flex-direction: row;
        }
    }

    > :last-child {
        border-right: 0;
    }
}

.share {
    svg {
        height: rem-calc(14);
        width: auto;
        margin-top: space(1.25);
    }
}

.dropdownWrapper {
    position: relative;
    button {
        @include padding(0);
        width: rem-calc(30);
        height: rem-calc(30);
    }
}

.dropdown {
    width: rem-calc(30);
    height: rem-calc(30);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: auto;
        width: rem-calc(20);
        @include margin(0, 0, 0, -0.5);
    }
}

.dropdownContainer {
    @include layoutTooltip;
    position: absolute;
    left: 0;
    width: rem-calc(150);

    button {
        @include padding(2, 4);
        width: 100%;
        height: auto;
        background: transparent;
        border: none;
        text-align: start;
        border-radius: 0;
        z-index: 20;
        display: block;
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .container {
        @include padding(0);

        .item {
            @include margin(0, 3);
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        flex-wrap: wrap;

        .item {
            @include margin(0);
            @include padding(3);
            flex: 0 0 100%;
            width: 100%;
            border: none;

            .buttons {
                justify-content: flex-end;
            }
        }
    }

    .dropdownContainer {
        right: 0;
        left: unset;
    }
}
