@use '../../../../styles/master' as *;

.container {
    display: flex;
    flex-direction: column;
    @include padding(4);
    border-top: 1px solid $alphaWhite20;
    @include devider20;
    .title {
        margin-inline-start: space(12);
        opacity: 0.5;
        margin-bottom: space(1);
    }
    .itemWrapper {
        display: flex;
        flex-direction: row;
        @include margin(0, 12);

        .item {
            flex-grow: 1;
        }

        > :last-child {
            .pointer {
                background-color: black;
            }
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .container {
        .title {
            @include margin(0, 3, 3);
        }

        .itemWrapper {
            @include margin(0, 3);

            .item {
                flex: 0;
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        .itemWrapper {
            flex-wrap: wrap;
            .item {
                @include margin(0, 0, 3);
                flex: 0 0 100%;
            }
        }
    }
}
