@use '../../../../styles/master' as *;

.container {
    width: rem-calc(368);

    .bodyContainer {
        @include padding(8, 12);

        .circularProgressContainer {
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .container {
        width: 100%;

        .bodyContainer {
            @include padding(6, 3);
        }
    }
}
