@use '../../../styles/master' as *;

.container {
    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: rem-calc(68);
        @include padding(0, 5);

        .tooltip {
            position: absolute;
            top: rem-calc(3);
            right: rem-calc(5);
        }
    }

    .separator {
        display: flex;
        @include margin(0, 12);
        opacity: 0.2;

        .text {
            @include margin(6, 2.5);
        }

        .horizontalLine {
            flex: auto;
            @include devider20;
            @include margin(0, 0, 8);
        }
    }

    .footer {
        height: rem-calc(29);
    }

    .showmore {
        display: flex;
        height: rem-calc(88);
        justify-content: center;
        align-items: center;

        span {
            color: $colorPrimary;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .loading {
        @include padding(4, 0);
        display: flex;
        opacity: 0.5;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
    }

    .noData {
        display: block;
        text-align: center;
        @include typoScaps;
        @include margin(6, 0, 0);
    }

    .tutorial {
        display: block;
        text-align: center;
        @include typoS;

        a {
            color: $colorPrimary;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    &.active {
        table {
            tr {
                th,
                td {
                    &:nth-child(1) {
                        width: rem-calc(8) !important;
                    }

                    &:nth-child(2) {
                        width: rem-calc(60) !important;
                    }

                    &:nth-child(3) {
                        width: rem-calc(115) !important;
                    }

                    &:nth-child(4) {
                        width: rem-calc(115) !important;
                    }

                    &:nth-child(5) {
                        width: rem-calc(115) !important;
                    }

                    &:nth-child(6) {
                        width: rem-calc(95) !important;
                    }

                    &:nth-child(7) {
                        width: rem-calc(110) !important;
                    }

                    &:nth-child(8) {
                        width: rem-calc(95) !important;
                    }

                    &:nth-child(9) {
                        width: rem-calc(90) !important;
                    }

                    &:nth-child(10) {
                        width: rem-calc(90) !important;
                    }

                    &:nth-child(11) {
                        width: rem-calc(200) !important;
                    }

                    &:nth-child(12) {
                        text-align: end;
                        width: rem-calc(100) !important;
                    }
                }
            }
        }
    }

    &:not(.active) {
        table {
            tr {
                th,
                td {
                    &:nth-child(1) {
                        width: rem-calc(60) !important;
                    }

                    &:nth-child(2) {
                        width: rem-calc(120) !important;
                    }

                    &:nth-child(3) {
                        width: rem-calc(80) !important;
                    }

                    &:nth-child(4) {
                        width: rem-calc(80) !important;
                    }
                    &:nth-child(5) {
                        width: rem-calc(120) !important;
                    }

                    &:nth-child(6) {
                        width: rem-calc(120) !important;
                    }

                    &:nth-child(7) {
                        width: rem-calc(100) !important;
                    }

                    &:nth-child(8) {
                        width: auto !important;
                    }

                    &:nth-child(9) {
                        text-align: end;
                        width: rem-calc(100) !important;
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(1200)) {
    .container {
        &.active {
            &.active {
                table {
                    tr {
                        th,
                        td {
                            &:nth-child(2) {
                                display: none;
                            }

                            &:nth-child(11) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &:not(.active) {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(990)) {
    .container {
        &.active {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(5) {
                            display: none;
                        }

                        &:nth-child(6) {
                            display: none;
                        }
                    }
                }
            }
        }
        &:not(.active) {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(5) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(840)) {
    .container {
        &:not(.active) {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(7) {
                            display: none;
                        }
                        &:nth-child(8) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: $bpSmallHigh) {
    .container {
        &.active {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(9) {
                            display: none;
                        }

                        &:nth-child(10) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(670)) {
    .container {
        &:not(.active) {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(6) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(590)) {
    .container {
        &.active {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(7) {
                            display: none;
                        }
                    }
                }
            }
        }
        &:not(.active) {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(5) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(475)) {
    .container {
        &.active {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(8) {
                            display: none;
                        }
                    }
                }
            }
        }
        &:not(.active) {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(1) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* PSEUDO */
@media only screen and (max-width: rem-calc(380)) {
    .container {
        &.active {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(3) {
                            width: rem-calc(85) !important;
                        }
                        &:nth-child(4) {
                            width: rem-calc(90) !important;
                        }
                    }
                }
            }
        }
        &:not(.active) {
            table {
                tr {
                    th,
                    td {
                        &:nth-child(2) {
                            width: rem-calc(85) !important;
                        }
                        &:nth-child(3) {
                            width: rem-calc(90) !important;
                        }
                    }
                }
            }
        }
    }
}
