@use '../../styles/master' as *;

.council {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: inherit;
    margin-top: space(8);
    margin-bottom: space(16);

    > * {
        width: 100%;
    }

    .cooldownDetailsBtn {
        color: $colorPrimary;
        border: none;
        background: none;
        font-size: inherit;
        font-weight: inherit;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .detailsContainer {
        margin-top: space(6);
    }

    .allProposals {
        width: rem-calc(1248);
        max-width: 100%;
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .council {
        .content {
            .allProposals {
                width: 100%;
                flex-wrap: wrap;
            }
        }
    }
}
