@import 'src/styles/master';

.card {
  max-width: rem-calc(768);
  width: 100%;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: space(8);
    max-width: rem-calc(560);
    margin: auto;
    text-align: center;
    gap: space(16);

    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(6);

      .mintBtn {
        margin-bottom: space(4);
      }

      a {
        display: inline-block;
      }
    }
  }
}
