@import 'src/styles/master';
.primary,
.secondary {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.primary {
  margin-top: space(-1);
  left: 20%;
  z-index: 1;
}

.secondary {
  margin-top: space(1);
  right: 20%;
}
