@use '../../../styles/master' as *;

.proposalCard {
    position: relative;
    border-radius: $borderRadiusL;
    overflow: hidden;

    .active {
        @include bgProposalActive;
        position: absolute;
        width: 16px;
        height: 100%;
    }
}
