@use '../../../styles/master' as *;

.container {
    display: flex;
    @include padding(8);
    flex-grow: 5;
    flex-direction: column;
    position: relative;

    .apy {
        text-align: center;
    }
    .apyTitle {
        margin-bottom: space(7);
        text-align: center;
    }
    .stake {
        display: flex;
        align-self: center;
    }

    .tooltip {
        position: absolute;
        top: rem-calc(-4);
        right: rem-calc(12);
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        .tooltip {
            top: rem-calc(12);
            right: rem-calc(0);
        }

        .stake {
            flex-wrap: wrap;
            justify-content: center;

            > div {
                &:first-child {
                    @include margin(0, 0, 6);
                }
            }
        }
    }
}
