@use '../../../styles/master' as *;

.container {
    display: flex;
    flex-direction: column;
    text-align: start;
    @include padding(0, 2, 0, 0);
    position: relative;

    .tooltip {
        position: absolute;
        right: rem-calc(8);
    }

    .value {
        word-break: normal;
        word-wrap: normal;
        padding-inline-end: 1.2rem;
    }
}
