.breakdownItem {
    display: flex;
    margin-inline-start: space(5);
    margin-inline-end: space(5);
    margin-bottom: space(5);
    flex-direction: column;
    .breakdownTitle {
        margin-bottom: space(2);
        opacity: 0.4;
    }
}
