@use '../../../styles/master' as *;

.inputWrapper {
    align-self: center;
    opacity: 1;
    border: 1px solid $colorGreyHighlight;
    max-width: 100%;
    height: rem-calc(56);
    border-radius: $borderRadiusS;
    display: flex;
    justify-content: center;

    &.text {
        margin-bottom: space(6);
    }

    .inputPercentage {
        text-align: center;
        opacity: 1;
        background: none;
        border: none;
        @include typoXXL;

        &::placeholder {
            text-indent: space(-3.5);
        }

        &:focus {
            outline: none;
        }
    }

    .inputText {
        width: 100%;
        opacity: 1;
        background: none;
        border: none;
        @include padding(0, 6);
        @include typoL;

        &:focus {
            outline: none;
        }
    }
}

.inputWrapper.errored {
    border: 1px solid $colorInfoWarning;
    margin-bottom: space(2);
}

.error {
    margin-bottom: space(6);
    color: $colorInfoWarning !important;
}

.disabled {
    background-color: $alphaWhite10;
}
