@use '../../../styles/master' as *;

.container {
    height: rem-calc(136);
    @include padding(8, 20);
    box-sizing: unset;
    cursor: pointer;
    &:hover {
        @include bgProposalHover;
    }

    .link {
        text-decoration: none;
        color: $fontColorLightPrimary;
    }

    .content {
        display: flex;

        .infoSection {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-inline-end: rem-calc(64);

            .title {
                margin-bottom: space(8);
            }

            .desc {
                display: block;
                max-height: rem-calc(42);
                overflow: hidden;
                opacity: 0.5;
            }
        }

        .statsSection {
            display: flex;
            flex: 0 0 rem-calc(341);
            width: rem-calc(341);
            flex-direction: column;

            .info {
                display: flex;
                margin-bottom: space(8);

                .category {
                    flex: auto;
                }
                .category,
                .voteEnds {
                    display: flex;
                    flex-direction: column;

                    .header {
                        opacity: 0.5;
                        margin-bottom: space(1.5);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .container {
        @include padding(6, 3);

        .content {
            .infoSection {
                padding-inline-end: rem-calc(24);
            }
            .statsSection {
                flex: 0 0 rem-calc(258);
                width: rem-calc(258);

                .info {
                    & + div {
                        > div {
                            width: rem-calc(258) !important;
                            div {
                                max-width: rem-calc(258);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        height: auto;

        .content {
            flex-wrap: wrap;
            justify-content: flex-end;
            .infoSection {
                flex: 0 0 100%;
                width: 100%;
                @include padding(0);
            }
            .statsSection {
                @include margin(6, 0, 0);
            }
        }
    }
}
