@use '../../../styles/master' as *;

.voted {
    position: relative;

    .quorumTitle {
        display: flex;
        margin-bottom: space(2);

        .quorumDotContainer {
            position: relative;
            width: rem-calc(10);

            .quorumGlow {
                background-color: $fontColorLightPrimary;
                position: absolute;
                width: rem-calc(7);
                height: rem-calc(7);
                margin-top: space(1.5);
                margin-inline-start: space(-0.5);
                border-radius: $borderRadiusL;
                @include glowM;
                opacity: 0.7;
            }

            .quorumDot {
                background-color: $fontColorLightPrimary;
                position: absolute;
                width: rem-calc(4);
                height: rem-calc(4);
                margin-top: space(1.5);
                border-radius: $borderRadiusXS;
            }
        }

        .quorumText {
            opacity: 0.6;
        }
    }

    .votedBar {
        background-color: $alphaBlack60;
        border-radius: $borderRadiusXXL;
        display: flex;
        position: relative;
        overflow: hidden;

        .votesFor,
        .votesAgainst {
            height: rem-calc(12);
            transition: width 2s;
        }

        .votesFor {
            background-color: $colorPrimary;
            border-radius: $borderRadiusM 0 0 $borderRadiusM;
        }

        .votesAgainst {
            background-color: $colorSecondary;
            border-radius: 0 $borderRadiusM $borderRadiusM 0;
        }
    }

    .votedBarGlow {
        display: flex;
        position: absolute;
        height: rem-calc(14);
        margin-top: space(-0.25);
        border-radius: $borderRadiusM 0 0 $borderRadiusM;
        width: 100%;
        opacity: 0.3;
        @include glowS;

        .votesFor,
        .votesAgainst {
            transition: width 2s;
        }

        .votesFor {
            background-color: $colorPrimary;
            border-radius: $borderRadiusM 0 0 $borderRadiusM;
        }

        .votesAgainst {
            background-color: $colorSecondary;
            border-radius: 0 $borderRadiusM $borderRadiusM 0;
        }
    }

    .quorumBar {
        width: rem-calc(1);
        height: rem-calc(16);
        margin-top: space(-3.5);
        background-color: $fontColorLightPrimary;
        position: absolute;
        transition: left 2s;
    }

    .votedInfo {
        margin-top: space(2);
        display: flex;

        .votedPercent {
            flex: 1;

            .title {
                opacity: 0.6;
                margin-inline-end: space(1);
            }
        }

        .votedBreakdown {
            display: flex;
            flex: 0 0 rem-calc(140);
            flex-wrap: wrap;
            justify-content: flex-end;

            .votesFor,
            .votesAgainst {
                display: flex;
                @include margin(0, 0, 1);
                text-align: end;

                .title {
                    opacity: 0.6;
                    margin-inline-end: space(1);
                }

                .value {
                    min-width: rem-calc(57);
                    display: block;
                }
            }

            .votesFor {
                .value {
                    color: $colorPrimary;
                }
            }

            .votesAgainst {
                .value {
                    color: $colorSecondary;
                }
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .voted {
        width: rem-calc(258) !important;

        div {
            max-width: rem-calc(258);
        }
    }
}
