@use '../../../styles/master' as *;

.voted {
    position: relative;

    .votedBar {
        background-color: $alphaBlack60;
        border-radius: $borderRadiusXXL;
        display: flex;
        position: relative;
        overflow: hidden;

        .votesFor,
        .votesAgainst {
            height: rem-calc(12);
            transition: width 2s;
            border-radius: $borderRadiusM;
        }

        .votesFor {
            background-color: $colorPrimary;
        }

        .votesAgainst {
            background-color: $colorSecondary;
        }
    }

    .votedBarGlow {
        display: flex;
        position: absolute;
        height: rem-calc(14);
        margin-top: space(-0.25);
        border-radius: $borderRadiusM 0 0 $borderRadiusM;
        width: 100%;
        opacity: 0.3;
        @include glowS;

        .votesFor,
        .votesAgainst {
            transition: width 2s;
        }

        .votesFor {
            background-color: $colorPrimary;
            border-radius: $borderRadiusM 0 0 $borderRadiusM;
        }

        .votesAgainst {
            background-color: $colorSecondary;
            border-radius: 0 $borderRadiusM $borderRadiusM 0;
        }
    }

    .quorumBar {
        width: rem-calc(1);
        height: rem-calc(16);
        margin-top: space(-3.5);
        background-color: $fontColorLightPrimary;
        position: absolute;
        transition: left 2s;
    }

    .votedInfo {
        margin-top: space(2);
        display: flex;

        .votedPercent {
            flex: 1;

            .title {
                opacity: 0.6;
                margin-inline-end: space(1);
            }

            .for {
                color: $colorPrimary;
            }

            .against {
                color: $colorSecondary;
            }
        }

        .votedBreakdown {
            opacity: 0.6;
            text-align: start;

            .title {
                margin-inline-end: space(1);
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .voted {
        width: rem-calc(258) !important;

        div {
            max-width: rem-calc(258);
        }
    }
}
