@use 'master' as *;

:export {
    /* TOKENS */
    anc: $colorTokenANC;
    luna: $colorTokenLUNA;
    mir: $colorTokenMIR;
    ust: $colorTokenUST;
    mars: $colorTokenMARS;
    mine: $colorTokenMINE;
    astro: $colorTokenASTRO;
    stLuna: $colorTokenSTLUNA;

    /* COLORS */
    success: $colorInfoProfit;
    failure: $colorInfoWarning;
    fontPrimary: $fontColorLightPrimary;
    backgroundBody: $backgroundBody;
    backgroundBodyDark: $backgroundBodyDark;
    backgroundInTile: $backgroundInTile;
    primary: $colorPrimary;
    primaryHighlight: $colorPrimaryHighlight;
    primaryAlpha: $colorPrimaryAlpha;
    secondary: $colorSecondary;
    secondaryHighlight: $colorSecondaryHighlight;
    secondaryDark: $colorSecondaryDark;
    secondaryAlpha: $colorSecondaryAlpha;
    grey: $colorGrey;
    greyLight: $colorGreyLight;
    greyMedium: $colorGreyMedium;
    white: $colorWhite;
    transparentWhite: $alphaWhite20;
    tableBorder: $tableBorder;
    tableSortActive: $tableSortActive;
    tableSort: $tableSort;
    tableHeader: $tableHeader;
}
