@use 'master' as *;

:export {
  /* TOKENS */
  mars: $colorTokenMARS;
  osmo: $colorTokenOSMO;
  atom: $colorTokenATOM;
  axl: $colorTokenAXL;
  usdc: $colorTokenUSDC;
  wbtc: $colorTokenWBTC;
  weth: $colorTokenWETH;
  juno: $colorTokenJUNO;
  statom: $colorTokenStATOM;

  /* COLORS */
  success: $colorInfoProfit;
  failure: $colorInfoWarning;
  fontPrimary: $fontColorLightPrimary;
  backgroundBody: $backgroundBody;
  backgroundBodyDark: $backgroundBodyDark;
  backgroundInTile: $backgroundInTile;
  primary: $colorPrimary;
  primaryHighlight: $colorPrimaryHighlight;
  primaryAlpha: $colorPrimaryAlpha;
  secondary: $colorSecondary;
  secondaryHighlight: $colorSecondaryHighlight;
  secondaryDark: $colorSecondaryDark;
  secondaryAlpha: $colorSecondaryAlpha;
  grey: $colorGrey;
  greyLight: $colorGreyLight;
  greyMedium: $colorGreyMedium;
  white: $colorWhite;
  transparentWhite: $alphaWhite20;
  tableBorder: $tableBorder;
  tableSortActive: $tableSortActive;
  tableSort: $tableSort;
  tableHeader: $tableHeader;

  /* BREAKPOINTS */
  bpLargeLow: $bpLargeLow;
  bpMediumHigh: $bpMediumHigh;
  bpMediumLow: $bpMediumLow;
  bpSmallHigh: $bpSmallHigh;
}
