@import 'src/styles/master';

.container {
  display: flex;
  flex-direction: column;
  gap: space(9);
  height: 100%;

  .title {
    display: flex;
    align-items: center;
  }

  .warning {
    color: $colorInfoVoteAgainst;
    align-self: center;
    align-content: center;
    text-align: center;
  }
}
