@use '../../../../../styles/master' as *;

.container {
    display: flex;
    flex-direction: column;
    .voteStatus {
        margin-bottom: space(8);

        .title {
            opacity: 0.4;
        }

        .votingStateWrapper {
            display: flex;
            .voted {
                @include padding(0.25, 2);
                color: $colorWhite;
                border-radius: $borderRadiusXXS;
                min-height: 0 !important;
            }

            .voteFor {
                background: $colorPrimary;
            }

            .voteAgainst {
                background: $colorSecondary;
            }

            .didNotVote {
                background: $colorGrey;
            }
        }
    }

    .votePowerContainer {
        margin-bottom: space(6);
    }
}
