@use '../../../../styles/master' as *;

.container {
    width: rem-calc(448);
    align-self: center;
    max-width: 100%;

    .labelComponentContainer {
        position: relative;
        .labelComponent {
            @include typoS;
            @include layoutTooltip;
            color: $fontColorLightPrimary;
            margin-inline-start: space(-9);
            margin-top: space(5);
            position: absolute;
            z-index: 4;

            span {
                text-align: center;
                display: flex;
                justify-content: center;
                white-space: nowrap;
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        max-width: calc(100vw - 80px);
    }
}
