@use '../../../styles/master' as *;

.separatedBalanceCard {
    display: flex;
    margin-top: space(10);
    .verticalLine {
        background-color: $fontColorLightPrimary;
        opacity: 0.4;
        height: 100%;
        width: 1px;
        margin-inline-end: space(4);
    }

    .balanceCard {
        @include padding(1, 8, 1, 0);
    }
}
