@use '../../../styles/master' as *;

.title {
    display: flex;
    opacity: 0.6;
    @include margin(8, 0, 6);

    .horizontalLine {
        flex: auto;
        @include devider60;
        @include margin(0, 0, 3);
    }

    h6 {
        @include margin(0, 5);
    }
}
