@use '../../../styles/master' as *;

.allProposals {
    .newProposal {
        height: rem-calc(96);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .tooltip {
            position: absolute;
            top: space(2);
            right: space(3);
        }
    }

    > div {
        border-bottom: 1px solid $alphaWhite10;
        &:last-child {
            border: none;
        }
    }
}
