@use '../../../styles/master' as *;

.cardContainer {
    width: rem-calc(768);
    @include margin(0, 0, 10);

    .container {
        color: $fontColorLightPrimary;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadiusL;

        .form {
            display: flex;
            flex-direction: column;
            @include margin(8, 22);

            label {
                opacity: 0.4;
                @include margin(0, 0, 2);
            }

            .required {
                color: $colorInfoWarning;
                opacity: 1;
            }

            .amountLabels,
            .messageHeader {
                display: flex;

                .title {
                    margin-bottom: 0;
                }

                label {
                    flex: 1;

                    &:nth-child(2) {
                        text-align: end;
                    }
                }
            }

            .messageHeader {
                align-items: center;
                @include margin(0, 0, 3);
            }

            .message {
                @include margin(0, 0, 6);

                > div:first-child {
                    border-top: 1px solid $colorWhite;
                }
            }

            .marsBalanceError {
                color: $colorInfoWarning;
                opacity: 1;
                text-align: center;
                @include margin(2, 0, 8);
                font-weight: $fontWeightSemibold;
            }

            .submitControls {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: space(2);
            }

            .depositAmount {
                @include margin(0, 0, 6);
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .cardContainer {
        width: 100%;

        .container {
            .form {
                @include margin(6, 3);
            }
        }
    }
}
