@use '../../../styles/master' as *;

.proposalMessage {
    border-bottom: 1px solid $colorWhite;

    .targetContractAddress {
        .title {
            opacity: 0.5;
            margin-inline-end: space(2);
        }
    }
    .proposalMessagesLabels {
        cursor: pointer;
        display: flex;
        align-items: center;
        @include padding(3, 0);

        svg {
            width: rem-calc(14);
            height: rem-calc(16);
        }

        .downArrow {
            svg {
                width: rem-calc(8);
                height: rem-calc(6);
                transition: opacity 0.5s;
                margin-inline-end: space(2);
                opacity: 0.4;
                transform: rotate(-90deg);
            }
        }

        .titleContainer {
            flex: 1;
            margin-bottom: 0;

            .title {
                opacity: 0.4;
                transition: opacity 0.5s;
                cursor: pointer;
            }
        }

        .titleContainer.errored {
            .downArrow {
                svg {
                    opacity: 1;
                    path {
                        fill: $colorInfoWarning;
                    }
                }
            }

            .title {
                opacity: 1;
                color: $colorInfoWarning;
            }
        }

        &.active {
            .downArrow {
                svg {
                    opacity: 1;
                    transform: rotate(0deg);
                }
            }

            .titleContainer {
                .title {
                    opacity: 1;
                }
            }
        }
    }

    .proposalMessagesContent {
        .required {
            color: $colorInfoWarning;
            opacity: 1;
        }

        .call {
            opacity: 0.5;
            word-wrap: break-word;
            white-space: pre-wrap;
            user-select: text;
        }
    }

    .readOnlyCall {
        margin-bottom: space(6);
    }

    &:hover {
        .proposalMessagesLabels {
            .downArrow {
                svg {
                    opacity: 1;
                }
            }

            .titleContainer {
                .title {
                    opacity: 1;
                }
            }
        }
    }
}
// read only border
.readOnly {
    border-bottom: 1px solid $alphaWhite40;
}
