@use '../../../styles/master' as *;

.cardContainer {
    width: rem-calc(768);
    @include margin(0, 0, 10);

    .restartCooldownDetails {
        display: flex;
        margin-inline-start: space(10);
        color: $colorSecondaryDark;
        font-weight: $fontWeightSemibold;
        flex: auto;
    }

    .container {
        color: $fontColorLightPrimary;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadiusL;
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .cardContainer {
        width: 100%;

        .container {
            .importantInformation {
                .content {
                    @include margin(10, 5, 0);
                }
            }
        }
    }
}
