@use '../../styles/master' as *;

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        @include margin(0, 0, 3);
    }

    .progressbarContainer {
        position: relative;
        height: rem-calc(22);

        .progressbar {
            position: absolute;
            height: 100%;
            @include bgHatched;
            box-shadow: $shadowInset;
            border-radius: $borderRadiusXXXL;
        }

        .limitLine {
            position: absolute;
            height: 100%;
            width: 1px;
            background: $colorInfoWarning;
            transition: left 2s;
            box-shadow: $shadowInset;
        }

        .limit {
            position: absolute;
            height: 100%;
            background: $colorGreyDark;
            box-shadow: $shadowInset;
            border-top-left-radius: $borderRadiusXXXL;
            border-bottom-left-radius: $borderRadiusXXXL;
            transition: width 2s;
        }

        .dot {
            position: absolute;
            width: rem-calc(3);
            height: rem-calc(3);
            background: $colorInfoWarning;
            margin-top: space(-1.75);
            margin-inline-start: space(-0.25);
            border-radius: $borderRadiusRound;
            transition: left 2s;
        }

        .dotGlow {
            position: absolute;
            width: rem-calc(7);
            height: rem-calc(7);
            background: $colorInfoWarning;
            margin-top: space(-2.25);
            margin-inline-start: space(-1.25);
            border-radius: $borderRadiusXS;
            @include glowM;
            transition: left 2s;
        }

        .ltvContainer {
            position: absolute;
            width: 100%;
            height: 100%;

            .mask {
                overflow-x: hidden;
                height: 100%;
                border-radius: $borderRadiusL;
                transition: width 2s;
                color: $fontColorLtv;

                > span {
                    transition: left 2s;
                    z-index: 2;
                }

                .indicator {
                    height: 100%;
                    border-radius: inherit;
                    @include bgLimit;
                }

                .glow {
                    position: absolute;
                    height: 100%;
                    border-radius: inherit;
                    @include bgLimit;
                    opacity: 0.4;
                    transition: width 2s;
                    @include glowXXL;
                    @include margin(-5.5, 0, 0);
                }
            }
        }
    }

    .values {
        display: flex;
        opacity: 0.6;
        margin-top: space(1.25);

        .zero {
            text-align: start;
            flex: auto;
        }

        .limit {
            flex: 0;
            white-space: nowrap;
        }
    }
}
