@use '../../styles/master' as *;

.button,
.disabledButton,
.secondary {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: $borderRadiusXXL;
    height: rem-calc(31);
    @include padding(0.5, 4, 0);
    @include typoButton;
    cursor: pointer;
    color: $colorWhite;
    border: 1px solid $alphaWhite60;
    outline: none;
    background: $alphaBlack10;
    text-transform: uppercase;

    > span {
        @include margin(0, 0, 0, 2);
    }

    &:hover {
        background: $alphaWhite60;
        text-decoration: none;
    }
    &:active {
        outline: none;
    }

    svg {
        @include margin(-0.5, 0, 0);
        height: rem-calc(16);
        width: auto;
    }
}

.disabledButton:hover {
    background: $alphaWhite30;
}

.secondary {
    background: $colorSecondaryHighlight;
    border: none;
    @include padding(0.5, 5.5);
    height: rem-calc(36);

    &:hover {
        background: $colorSecondary;
    }
}

.wrapper {
    position: relative;
}

.dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    top: rem-calc(38);
    @include padding(6, 6, 5.5);
    @include layoutPopover;
    width: rem-calc(360);
    max-width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.option {
    background-color: transparent;
    border-radius: 0;
    color: $colorAccent;
    border: none;
    appearance: none;
    @include typoL;
    @include padding(2, 0);
    font-weight: $fontWeightRegular;
    text-align: start;
    width: 100%;
    outline: none;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    text-decoration: none;

    .image {
        opacity: 0.6;
        display: flex;
        align-items: center;
    }

    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $colorSecondaryHighlight;

        .image {
            opacity: 1;
        }
    }
}

.image {
    @include margin(0, 2, 0, 0);

    svg,
    img {
        width: rem-calc(24);
        height: auto;
    }
}

.tooltip {
    @include margin(-1.5, 0, 0, 1);

    svg {
        fill: $colorAccent;
        opacity: 0.5;
        align-self: flex-start;

        &:hover {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .dropdown {
        &:not(.centered) {
            right: 0;
            transform: none;
            left: unset;
        }
    }

    .secondary {
        + .dropdown {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .dropdown {
        max-width: calc(100vw - 24px);
    }
}
