@use '../../styles/master' as *;

.button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: $borderRadiusXXL;
    height: rem-calc(31);
    @include padding(0.5, 2, 0, 3);
    @include typoS;
    cursor: pointer;
    color: $colorWhite;
    border: 1px solid $alphaWhite60;
    outline: none;
    background: $alphaBlack10;

    .walletIcon {
        display: grid;
        place-content: center;

        svg {
            margin-top: space(-1);
            height: rem-calc(16);
            width: auto;
        }
    }

    .address {
        margin-inline-start: space(1.5);
        font-weight: $fontWeightRegular;
    }

    .balance {
        font-weight: $fontWeightRegular;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        margin-inline-start: space(2);
        padding-inline-start: rem-calc(8);
        &:before {
            content: '';
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 0;
            border-left: 1px solid $alphaWhite60;
        }
    }

    &:hover {
        border: 1px solid $colorWhite;
        background-color: $alphaWhite10;
    }

    .circularProgress {
        margin-inline-end: space(2);
    }
}

.wrapper {
    position: relative;
}

.details {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    top: rem-calc(38);
    @include padding(6, 6, 5.5);
    @include layoutPopover;
    width: rem-calc(420);
    left: rem-calc(-233);
    z-index: 100;
}

.detailsHeader {
    display: flex;
    flex: 0;
    flex-wrap: nowrap;
    width: 100%;
    @include margin(0, 0, 4);
}

.detailsBalance {
    display: flex;
    flex: 1;
    width: auto;
    align-items: center;

    svg {
        @include margin(-1, 4, 0, 0);
        height: space(6);
        width: auto;
    }

    p {
        @include margin(0);
        @include typoH4;
        color: $colorSecondaryDark;
    }
}

.detailsButton {
    display: flex;
    flex: 0 0 rem-calc(116);
    width: rem-calc(116);
}

.detailsBody {
    flex: 0;
    width: 100%;

    .address,
    .addressMobile,
    .addressLabel,
    .tnsAddress {
        color: $colorSecondaryDark;
        opacity: 1;
        @include margin(0, 0, 1);
        @include typoS;
        word-break: break-all;
    }

    .addressMobile {
        display: none;
    }

    svg {
        height: rem-calc(16);
        width: auto;
        @include margin(-1, 1, 0, 0);
    }

    .buttons {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        @include padding(1, 0, 0);

        > button {
            font-weight: $fontWeightRegular;

            &:first-child {
                width: rem-calc(100);
            }
        }
    }

    button {
        display: flex;
        flex: 0 0 auto;
        width: auto;
        align-items: center;
        color: $colorSecondaryDark;
        background: transparent;
        border: none;
        @include padding(2, 0);

        &:hover {
            cursor: pointer;
        }
    }
}

.network {
    background-color: $colorSecondaryHighlight;
    text-transform: uppercase;
    border-radius: $borderRadiusL;
    @include padding(0, 2);
    @include margin(0);
    @include typoNetwork;
    position: absolute;
    top: space(-4);
    right: space(-4);
    cursor: default;
    z-index: 1;
}

@media only screen and (max-width: $bpMediumHigh) {
    .details {
        right: 0;
        transform: none;
        left: unset;
    }

    .detailsButton {
        @include margin(4, 0, 0);
        flex: 1 0 100%;
        width: 100%;

        > div {
            width: 100%;

            button {
                width: 100%;
            }
        }
    }

    .detailsHeader {
        flex-wrap: wrap;
    }

    .network {
        right: rem-calc(-12);
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .details {
        max-width: calc(100vw - 24px);
    }

    .detailsBody {
        .addressMobile {
            display: block;
        }
        .address {
            display: none;
        }
    }
}
