@use '../styles/master' as *;

.container {
    @include layoutTooltip;
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: rem-calc(184);
    box-sizing: unset;

    .item {
        display: block;

        .valueItem {
            margin-top: space(1);
            display: flex;
            flex-direction: row;
        }

        .dot {
            border: 1px solid $colorWhite;
            height: rem-calc(8);
            border-radius: $borderRadiusRound;
            width: rem-calc(8);
            margin-inline-end: space(2);
            margin-top: space(1.5);
            display: flex;
            flex: 0 0 rem-calc(8);
        }

        .subHeadline {
            @include typoXS;
            @include margin(0, 0, 2);
            @include padding(0);
            text-transform: uppercase;
            opacity: 0.4;
            height: rem-calc(16);
        }

        .content {
            display: flex;
            flex: 1 0 rem-calc(168);
            flex-direction: column;
            .titleContainer {
                display: flex;
                flex-direction: row;

                :first-child {
                    flex: auto;
                }

                .titleText {
                    justify-content: start !important;
                    min-height: 0 !important;
                }
            }

            .subTitleContainer {
                display: flex;
                flex-direction: row;
                :first-child {
                    flex: auto;
                }
                .subTitleText {
                    opacity: 0.6;
                }
            }
        }
    }
}
