@use '../styles/master' as *;

.network {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    position: fixed;
    margin: -100% 0 0;
    transition: margin 0.5s;

    &.show {
        @include margin(0);
    }

    .container {
        @include margin(0);
        @include padding(6, 1);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        background-color: $colorAccent;
    }

    .headline {
        width: 100%;
        display: block;
        @include typoScaps;
        @include margin(0, 0, 3);
    }

    p {
        width: 100%;
        display: block;
        letter-spacing: rem-calc(1);
        @include typoXS;
        @include margin(0, 0, 3);
    }

    .link {
        color: $colorPrimary;
        text-decoration: none;
    }

    .close {
        position: absolute;
        right: space(3);
        top: space(3);
        opacity: 0.6;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        button {
            border: none;
            background: transparent;
            @include padding(0);

            &:hover {
                cursor: pointer;
            }

            svg {
                height: rem-calc(20);
                width: rem-calc(20);
                
            }
        }
    }
}
