@use '../styles/master' as *;

.select {
    border: none;
    background-color: transparent;
    color: $fontColorLightPrimary;
    width: rem-calc(120);
    height: rem-calc(37);
    display: inline-block;
    @include padding(0.5, 0, 0.5, 3);
    appearance: none;
    box-sizing: border-box;
    @include typoM;
    outline: none;
    position: relative;
    z-index: 2;

    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        outline: none;
    }
}

.select::-ms-expand {
    display: none;
}

.selectWrapper {
    border: 1px solid $buttonBorder;
    color: $fontColorLightPrimary;
    width: rem-calc(120);
    height: rem-calc(37);
    font-family: inherit;
    font-size: inherit;
    border-radius: $borderRadiusXXS;
    display: flex;
    flex: 0 0 rem-calc(37);
    align-items: center;
    position: relative;

    &:after {
        content: '';
        width: rem-calc(12);
        height: rem-calc(8);
        background-color: $fontColorLightPrimary;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        justify-self: end;
        position: absolute;
        right: rem-calc(8);
        z-index: 1;
    }
}
