@use '../styles/master' as *;

.txFee {
    @include padding(0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;

    .label {
        display: flex;
        align-items: center;

        span {
            @include margin(0, 1.5, 0, 0);
        }

        svg {
            height: inherit;
        }
    }
}
