@use '../../styles/master' as *;

.tooltip {
    position: absolute;
    top: rem-calc(4);
    right: rem-calc(8);
}

.close {
    position: absolute;
    left: rem-calc(24);
    top: rem-calc(24);
    opacity: 0.6;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    .button {
        height: rem-calc(32);
        display: block;

        &:hover {
            cursor: pointer;
        }
    }

    svg {
        height: rem-calc(32);
        width: rem-calc(32);

        circle {
            stroke: $fontColorLightPrimary;
        }

        path {
            fill: $fontColorLightPrimary;
        }
    }

    > span {
        margin-inline-start: space(2);
    }

    > img {
        border-radius: $borderRadiusL;

        &:hover {
            background-color: darken($colorGrey, 5%);
            cursor: pointer;
        }
    }
}

.title {
    @include padding(7);
    border-bottom: 1px solid $colorGrey;
    text-align: center;

    .text {
        margin-top: space(1.5);
    }

    .icon {
        svg {
            color: $colorPrimary;
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .close {
        left: unset;
        top: rem-calc(12);
        right: rem-calc(12);

        > span {
            display: none;
        }

        .button {
            height: rem-calc(24);
        }
        svg {
            height: rem-calc(24);
            width: rem-calc(24);

            circle {
                stroke: $fontColorLightPrimary;
            }

            path {
                fill: $fontColorLightPrimary;
            }
        }
    }

    .title {
        @include padding(6, 8);
    }
}
