@use '../../styles/master' as *;

.header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    @include devider20;

    &.noUnderline {
        border-bottom: none;

        .title {
            border-bottom: none;
        }
    }

    .buttons {
        position: absolute;
        right: 60px;
        display: flex;

        > *:not(:first-child) {
            margin-inline-start: space(5);
        }
    }

    .close {
        position: absolute;
        left: rem-calc(24);
        top: rem-calc(24);
        opacity: 0.6;
        transition: opacity 0.5s;
        display: flex;
        align-items: center;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        .button {
            height: rem-calc(32);
            display: block;

            &:hover {
                cursor: pointer;
            }

            svg {
                height: rem-calc(32);
                width: rem-calc(32);

                circle {
                    stroke: $fontColorLightPrimary;
                }

                path {
                    fill: $fontColorLightPrimary;
                }
            }
        }

        > span {
            margin-inline-start: space(2);
        }

        > img {
            border-radius: $borderRadiusXXXL;

            &:hover {
                background-color: darken($colorGrey, 15%);
                cursor: pointer;
            }
        }
    }

    .title {
        @include padding(7);
        text-align: center;
        width: 100%;

        .text {
            @include margin(1.5, 0, 0);
        }

        .icon {
            svg {
                color: $colorPrimary;
            }
        }
    }
    .tooltip {
        position: absolute;
        right: rem-calc(5);
        top: rem-calc(5);
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .header {
        flex-direction: column;
        .buttons {
            position: unset;
            @include margin(0, 0, 4);
        }
    }
}

@media only screen and (max-width: 400px) {
    .header {
        .buttons {
            position: unset;
            flex-direction: column;
            @include margin(0);

            > * {
                @include margin(0, 0, 4);
            }

            > *:not(:first-child) {
                margin-inline-start: 0;
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .header {
        .close {
            left: rem-calc(10);
            top: rem-calc(10);

            .button {
                height: rem-calc(24);

                svg {
                    height: rem-calc(24);
                    width: rem-calc(24);

                    circle {
                        stroke: $fontColorLightPrimary;
                    }

                    path {
                        fill: $fontColorLightPrimary;
                    }
                }
            }

            > span {
                display: none;
            }
        }

        .title {
            @include padding(7, 12);
        }
    }
}
