@use '../../styles/master' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: space(20);
    text-align: center;

    > svg {
        margin-top: space(8);
        margin-bottom: space(8);
        align-self: center;
        width: rem-calc(80);
        height: rem-calc(80);
    }

    .subTitle {
        opacity: 0.6;
        margin-bottom: space(8);
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        margin-top: space(6);

        > svg {
            margin-top: space(6);
            margin-bottom: space(6);
            width: rem-calc(60);
            height: rem-calc(60);
        }

        .subTitle {
            margin-bottom: space(6);
        }
    }
}
