@use '../../styles/master' as *;

.container {
    position: relative;

    .close {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;

        > button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $fontColorLightPrimary;
            background-color: $colorGreyDark;
            border: none;
            border-radius: $borderRadiusRound;
            width: 2rem;
            height: 2rem;

            &:hover {
                background-color: darken($colorGrey, 5%);
                cursor: pointer;
            }
        }
    }

    .wait {
        display: flex;
        flex-direction: column;
        text-align: center;

        .title {
            @include padding(6);

            .text {
                margin-top: space(1.5);
            }
        }

        .link {
            @include padding(9);
            border-top: 1px solid $colorGrey;
            text-align: center;
        }
    }
}
