@import 'src/styles/master';

.color {
  position: absolute;
  top: 0;
  width: space(2);
  height: space(16);
  @include margin(0, 0, 0, -2);

  &.OSMO {
    background-image: $colorGradientOSMO;
  }

  &.ATOM {
    background-image: $colorGradientATOM;
  }

  &.axlUSDC {
    background-image: $colorGradientAxlUSDC;
  }

  &.stATOM {
    background-image: $colorGradientStATOM;
  }
}

.logo {
  display: grid;
  margin: auto;
  width: rem-calc(32);
}

.notBorrowable {
  width: 100%;
  display: block;
}
