@use '../../../../../../styles/master' as *;

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: rem-calc(260) auto rem-calc(260);
    @include margin(0, 0, 1);
    @include padding(10);
    position: relative;

    .hint {
        grid-row: 1/3;
        grid-column: 3/4;
        border-radius: $borderRadiusL;
        background-color: $alphaBlack20;
        display: flex;
        @include padding(4);
        margin: auto 0;
    }

    .title {
        grid-column: 1/3;
        @include typoScaps;
        @include margin(0, 0, 4);
    }

    .tooltip {
        position: absolute;
        top: rem-calc(3);
        right: rem-calc(5);
        text-align: end;
    }
}

/* PSUEDO */
@media only screen and (max-width: rem-calc(1090)) {
    .container {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        place-content: center;
        @include padding(6, 3);

        > * {
            max-width: rem-calc(420);
            place-self: center;
            width: 100%;
        }

        .hint {
            grid-row: unset;
            grid-column: unset;
        }

        .title {
            grid-row: unset;
            grid-column: unset;
        }
    }
}
