@use '../../../../../../styles/master' as *;

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.available {
    @include margin(2, 0);
    opacity: 0.6;
    width: 100%;
}

.input {
    opacity: 1;
    border: 1px solid $colorPrimary;
    @include padding(2, 4);
    width: 100%;
    height: rem-calc(36);
    border-radius: $borderRadiusS;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $alphaBlack20;

    &:focus {
        outline: none;
    }

    &:disabled {
        opacity: 0.6;
    }
}

input::-webkit-inner-spin-button {
    appearance: none;
    @include margin(0);
}

.tooltip {
    @include typoS;
    @include layoutTooltip;
    position: absolute;
    text-align: center;
    z-index: 4;
    top: rem-calc(62);
    left: 0;
    width: 100%;
}

.hint {
    margin-top: space(1.5);
    display: flex;
    justify-content: space-between;

    .transparent {
        opacity: 0.6;
    }

    .hide {
        visibility: hidden;
    }

    .red {
        color: $colorInfoWarning;
    }

    .primary {
        color: $colorPrimary;
    }
}

/* PSUEDO */
@media only screen and (max-width: rem-calc(1090)) {
    .hint {
        max-width: 28rem;
    }
}
