@use '../../../../../../styles/master' as *;

.inputContainer {
    @include margin(0, 8, 0);
    display: flex;
    height: rem-calc(72);
    align-self: center;
    position: relative;
    place-self: center;

    .zero {
        position: absolute;
        bottom: 0;
        left: space(-1);
        @include typoS;
        font-weight: $fontWeightRegular;
    }

    .input {
        align-self: center;
        display: flex;
        margin-bottom: space(3);
        max-width: 100%;
    }

    .maxButton,
    .maxButton:disabled {
        height: rem-calc(34);
        position: absolute;
        bottom: space(-1.5);
        right: space(-1);
        @include typoS;
        font-weight: $fontWeightRegular;
        text-transform: none;
        padding-inline-end: 0;
        text-align: end;
        justify-content: flex-end;

        &:hover {
            background-color: transparent;
        }
    }
}

/* PSUEDO */
@media only screen and (max-width: rem-calc(1090)) {
    .inputContainer {
        @include margin(6, 15);
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .inputContainer {
        margin: space(6) auto;
        @include padding(0, 3);

        .zero {
            left: rem-calc(7);
        }

        .maxButton {
            right: rem-calc(7);
        }
    }
}
