@use '../../styles/master' as *;

.mystation {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: inherit;
    margin-top: space(8);
    margin-bottom: space(16);
    position: relative;

    .overviewContainer {
        position: relative;
        .overview {
            display: flex;
            flex-direction: column;
            .title {
                align-self: center;
                justify-content: center;
                @include margin(6, 0);
            }

            .overviewDetails {
                display: flex;
                @include margin(0, 20, 13);

                .detailsItem {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;

                    &:first-child {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .tooltip {
                position: absolute;
                top: rem-calc(10);
                right: rem-calc(14);
            }
        }
    }

    .summaryContainer {
        .summary {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .tooltip {
                position: absolute;
                top: rem-calc(4);
                right: rem-calc(6);
            }
        }
    }

    .header {
        display: flex;
        @include margin(8, 0);
        opacity: 0.6;

        h6 {
            @include margin(0, 5);
        }
    }

    .strategies {
        margin-top: space(4);
    }

    .grids {
        display: flex;
        margin-top: space(4);

        > div {
            flex: 1;
        }

        > div:first-child {
            margin-inline-end: space(4);
        }
        > div:last-child {
            margin-inline-start: space(4);
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .mystation {
        .grids {
            flex-wrap: wrap;

            > div {
                flex: 0 0 100%;
                margin: 0 0 rem-calc(16) !important;
            }
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .mystation {
        .overviewContainer {
            .overview {
                .overviewDetails {
                    @include margin(0, 3);
                    flex-wrap: wrap;

                    .detailsItem {
                        flex: 0 0 100%;
                        > div {
                            @include margin(0, 0, 6);
                            justify-content: center !important;
                            text-align: center !important;
                            align-items: center !important;
                        }
                    }
                }
            }
        }
    }
}
