@use '../../styles/master' as *;

.container {
    width: rem-calc(550);
    @include margin(-5, -10, 0);

    .glow {
        width: rem-calc(550);
        position: absolute;
        opacity: 0.6;
        @include glowXL;
    }

    .dialContainer {
        width: rem-calc(550);
        display: flex;
        position: absolute;
    }

    .dotContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: space(17.5);

        .dot {
            position: absolute;
            width: rem-calc(4);
            height: rem-calc(4);
            background: $colorInfoWarning;
            margin-top: space(13);
            margin-inline-start: space(59);
            border-radius: $borderRadiusXS;
            transition: left 2s;
        }

        .dotGlow {
            position: absolute;
            width: rem-calc(7);
            height: rem-calc(7);
            background: $colorInfoWarning;
            margin-top: space(13);
            margin-inline-start: space(59);
            border-radius: $borderRadiusXS;
            @include glowM;
            transition: left 2s;
        }
    }

    .borrowLimitTextContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        .percent {
            margin-bottom: space(-1.25);
            word-break: normal;
            word-wrap: unset;
        }

        .warn {
            color: $colorInfoWarning;
        }
    }

    .maxText {
        margin-top: space(19);
        flex-direction: column;
        display: flex;
        align-items: center;

        .caption {
            text-transform: uppercase;
            opacity: 0.4;
            margin-bottom: space(1);
        }
    }
}

@media only screen and (max-width: $bpMediumHigh) {
    .container {
        @include margin(10, 0);
        width: rem-calc(360);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;

        .glow {
            display: flex;
            justify-content: center;
        }

        .dialContainer {
            display: flex;
            justify-content: center;
        }

        .maxText {
            width: 100%;
            @include margin(19, 0, 0);
        }
    }
}

@media only screen and (max-width: $bpSmallHigh) {
    .container {
        width: rem-calc(282);

        .dialContainer {
            @include margin(0);

            + div {
                margin-top: space(6) !important;
            }
        }
    }
}
