@import 'src/styles/master';

.wrapper {
  position: relative;

  .checkbox {
    display: none;

    &:checked {
      & + .label:after {
        transform: scale(1);
      }
    }
  }

  .label {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include padding(4, 0, 0, 6);

    &:before {
      content: '';
      width: space(3);
      height: space(3);
      border: 1.5px solid $alphaWhite40;
      border-radius: $borderRadiusXS;
      position: absolute;
      top: space(5);
      left: 0;
    }

    &:after {
      content: '';
      width: space(2);
      height: space(2);
      clip-path: polygon(14% 44%, 0% 65%, 40% 95%, 100% 26%, 85% 10%, 38% 62%);
      transform: scale(0);
      transform-origin: center center;
      transition: 100ms transform ease-in-out;
      box-shadow: inset space(3) space(3) $colorWhite;
      position: absolute;
      top: space(6);
      left: space(1);
    }
  }
}
