@import 'src/styles/master';

.color {
  position: absolute;
  top: 0;
  width: space(2);
  height: space(16);
  @include margin(0, 0, 0, -2);

  &.osmo {
    background-image: $colorGradientOSMO;
  }

  &.akt {
    background-image: $colorGradientAKT;
  }

  &.atom {
    background-image: $colorGradientATOM;
  }

  &.axl {
    background-image: $colorGradientAXL;
  }

  &.dydx {
    background-image: $colorGradientDYDX;
  }

  &.inj {
    background-image: $colorGradientINJ;
  }

  &.axlusdc,
  &.usdc {
    background-image: $colorGradientUSDC;
  }

  &.usdt {
    background-image: $colorGradientUSDT;
  }

  &.statom {
    background-image: $colorGradientStATOM;
  }

  &.axlwbtc {
    background-image: $colorGradientAxlWBTC;
  }

  &.axlweth {
    background-image: $colorGradientAxlWETH;
  }

  &.ntrn {
    background-image: $colorGradientNTRN;
  }

  &.stosmo {
    background-image: $colorGradientStOSMO;
  }

  &.tia {
    background-image: $colorGradientTIA;
  }
}

.logo {
  display: grid;
  margin: auto;
  width: rem-calc(32);
}

.notBorrowable {
  width: 100%;
  display: block;
}
