@import 'src/styles/master';

.color {
  position: absolute;
  top: 0;
  width: space(2);
  height: space(16);
  @include margin(0, 0, 0, -2);

  &.osmo {
    background-image: $colorGradientOSMO;
  }

  &.atom {
    background-image: $colorGradientATOM;
  }

  &.axl {
    background-image: $colorGradientAXL;
  }

  &.juno {
    background-image: $colorGradientJUNO;
  }

  &.axlusdc,
  &.nusdc {
    background-image: $colorGradientAxlUSDC;
  }

  &.statom {
    background-image: $colorGradientStATOM;
  }

  &.axlwbtc {
    background-image: $colorGradientAxlWBTC;
  }

  &.axlweth {
    background-image: $colorGradientAxlWETH;
  }

  &.ntrn {
    background-image: $colorGradientNTRN;
  }
}

.logo {
  display: grid;
  margin: auto;
  width: rem-calc(32);
}

.notBorrowable {
  width: 100%;
  display: block;
}
